
.card {
    max-width: 285px;
    height: 375px;
    padding: 6px;
    border-style: solid;
    border-width: 1px;
    border-color:  #45a26c;
    box-shadow:8px 8px  #df691a;
    float: left;
    margin: 14px;
    background: linear-gradient(to right, #283c86,#45a26c);
}

.card-header {
    color: #df691a;
    font-weight: bold;
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 6px;
}

.card-title {
    text-align: center;
}

.card-subtitle {
    color: black;
}

.card-footer {
    color: black;
    text-align: right;
}

.card-text {
    height: 220px;
    overflow: hidden;
    text-overflow: ellipsis;
  }
  