.updateForm {
    border:solid;
    border-width: 1px;
    border-color:#df691a;
    margin-bottom: 16px;
}
.form-group {
    padding:14px;
}
.updateFormButtons {
    margin:8px;
    text-align:center;
}

.updateFormButtonsbtn {
    width:100px;
}

.col-form-label {
    font-size: 14px;
}

.table-dark {
    background: grey;
    color: black;
    border:2px solid black;
    font-size:14px;
}