.projects_section_heading1 {
    color: #df691a;
    font-size: 18px;
    font-weight: bold;
    height: 62px;
    border-top-style: solid;
    border-top-color: #df691a;
    border-top-width: 2px;
    padding: 12px;
    margin-top: 12px;
}

.projects_section_heading2 {
    border-top-style: solid;
    border-top-color: #df691a;
    border-top-width: 2px;
    padding: 12px;
    margin-top: 12px;
}

.projects_section_btn {
    float: right;
    margin-left: 12px;
} 